# Eclipse project files
.classpath
.project
 
# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Node.JS
node_modules
npm-debug.log
bower_components

#Atlassian
atlassian-ide-plugin.xml

#Others
*.log
*.min.js
*.min.css
SOURCE/main/webapp/app/js/lib/angular-animate/angular-animate.min.js.map
SOURCE/main/webapp/app/js/lib/angular-mocks/angular-mocks.js
SOURCE/main/webapp/app/js/lib/angular-route/angular-route.js
SOURCE/main/webapp/app/js/lib/jquery/dist/jquery.js
