
#timeline-global-col-1
{

  background-color: white;
  min-height: 25%;
  border-right: solid 1px #ebebeb;
  //margin-right: 10px;
  //order-radius:0.5em;
  //text-align: center;
  //padding: 10px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0.5em;
  h3{
    font-size: 19px;
    margin-top: -60px;
    margin-left: 100px;
  }
  h4{
    font-size: 14px;
    /* margin-top: -60px; */
    color: gray;
    margin-left: 100px;
  }
  #pictureCover
  {


    img{
      width: 284px;
      height: 100px;
      border-radius: 0.5em 0.5em 0 0;
      //position: absolute;
      z-index:2;
    }
  }
  #pictureProfile {
    width: 75px;
    height: 75px;

    //border: solid #ebebeb 1px;
   // margin-top: -35%;
    //margin-left: 22%;

    img
    {
      width: 75px;
      height: 75px;
      z-index: 6;
      margin-top: -50%;
      position: relative;
      margin-left: 15%;
      border: solid 2px #77B255;
      border-radius: 0.5em;
    }
  }

  a
  {

  }

  .listInformations {

    //padding-left: 10px;
    width: 100%;
    margin-left: 0;
    
    li {
      width: 30%;
      font-size: 12px;
      color:grey;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;

    }
  }
  .listInformations2 {

    //padding-left: 10px;
    width: 100%;
    margin-left: 0;

    li {
      width: 30%;
      font-size: 15px;
      color:#77B255;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;

    }
  }
}

#timeline-global-col-2
{
  min-height: 500px;
  //margin-right: 10px;

  input {
    width: 81%;
  }

  .gabslist
  {
    background-color: white;
    border-radius: 0.5em;
    padding-top:10px;
    //border-radius:0.5em;
    margin-top:10px;

    .gab-item
    {
      margin-left: 10px;
      margin-right:10px;
      border-bottom: solid 1px #E0E2E4;

      .user-picture
      {
        height: 50px;
        width: 50px;
        border: solid #E0E2E4 1px;

        img {
          height: 50px;
          width: 50px;
        }
      }
      table
      {
        tr
        {
          td:first-child
          {
            padding-left: 20px;
          }
          td:nth-child(2)
          {
            width: 200%;
          }
        }
      }
    }
  }
  .gab-input
  {

    background-color: #39B3CD;
    border-radius: 0.5em;
    padding:20px;
    //border-radius:0.5em;
    // margin-top:10px;
    button
    {
      border-radius: 0;
    }
  }
  .gab-content
  {

    padding: 10px;

    .modal-header
    {
      border-bottom: none;
    }
    #gab
    {
      padding-left: 40px;
    }
    h4
    {
      font-size: 16px;
      font-weight: bold;
    }
    .gab-header
    {


      text-transform: none;
      text-decoration: none;
      list-style-type: none;
      li
      {
        display: inline;
      }
      li:first-child
      {
        font-size: 16px;
        font-weight: bold;
        color:steelblue;
      }
      li:nth-child(2)
      {
        padding-left: 10px;
        padding-right: 10px;
        color:green;
      }



    }
    .gab-actions
    {


      text-transform: none;
      text-decoration: none;
      list-style-type: none;
      float: right;

      li
      {
        display: inline;
      }
      li:first-child
      {

        /*font-size: 16px;
        font-weight: bold;*/
        color:steelblue;
      }
      li:nth-child(2)
      {
        padding-left: 10px;
        padding-right: 10px;
        color: #008000;
      }
    }
  }
}
#timeline-global-col-3
{

  background-color: white;
  min-height: 500px;
  border-left:solid 1px #ebebeb;
  border-radius: 0.5em;
}
#couverture_container
{

  height: 420px;

  background-color: white;
  margin-bottom: 10px;

  img
  {
    height: 420px;
    width:1140px;
    position: absolute;
    z-index:2;
    /* max-width:100%;
     max-height:100%;*/
  }

  .buttons_profile {
    float: right;
    margin-top: 29.2%;
    width: 200px;

    #addBackgroundButton {
      z-index: 5;
      position: relative;
      float: right;
      border-radius: 0;

      // margin-top: 34.2%;
    }
    #addProfilePictureButton {
      z-index: 5;
      position: relative;
      float: right;
      border-radius: 0;
      margin-bottom: 2%;

    }
  }
}