#timeline-col-1
{
  background-color: white;
  min-height: 25%;
  border-right: solid 1px #ebebeb;
  //margin-right: 10px;
  //order-radius:0.5em;
  text-align: center;
  padding: 10px;
  border-radius: 0.5em;
  h3{
    font-size: 22px;


  }
  h4{
    font-size: 16px;
    /* margin-top: -60px; */
    color: gray;

  }
  #pictureProfile {
    width: 150px;
    height: 150px;

    margin-top: -35%;
    margin-left: 22%;

    img
    {
      width: 150px;
      height: 150px;
      z-index: 6;
      position: relative;
      border: solid gray 2px;


    }
  }
  h3
  {

  }
  a
  {

  }
}

#timeline-col-2
{
  min-height: 500px;
  //margin-right: 10px;

  input {
    width: 81%;
   // background-color: aliceblue;
  }

  .gabslist
  {
    border-radius: 0.5em;
    background-color: white;

    padding-top:10px;
    //border-radius:0.5em;
    margin-top:10px;

    .gab-item
    {
      margin-left: 10px;
      margin-right:10px;
      border-bottom: solid 1px #E0E2E4;

      .user-picture
      {
        height: 50px;
        width: 50px;
        border: solid #E0E2E4 1px;

        img {
          height: 50px;
          width: 50px;
        }
      }
      table
      {
        tr
        {
          td:first-child
          {
            padding-left: 20px;
          }
          td:nth-child(2)
          {
            width: 200%;
          }
        }
      }
    }
  }
  .gab-input
  {

   // background-color: white;
    background-color: #39B3CD;
    border-radius: 0.5em;
    padding:20px;
    //border-radius:0.5em;
   // margin-top:10px;
    button
    {
      border-radius: 0;
    }
  }
  .gab-content
  {

    padding: 10px;

    .modal-header
    {
      border-bottom: none;
    }
    #gab
    {
      padding-left: 40px;
    }
    h4
    {
      font-size: 16px;
      font-weight: bold;
    }
    .gab-header
    {


      text-transform: none;
      text-decoration: none;
      list-style-type: none;
      li
      {
        display: inline;
      }
      li:first-child
      {
        font-size: 16px;
        font-weight: bold;
        color:steelblue;
      }
      li:nth-child(2)
      {
        padding-left: 10px;
        padding-right: 10px;
        color:green;
      }



    }
    .gab-actions
    {


      text-transform: none;
      text-decoration: none;
      list-style-type: none;
      float: right;

      li
      {
        display: inline;
      }
      li:first-child
      {

        /*font-size: 16px;
        font-weight: bold;*/
        color:steelblue;
      }
      li:nth-child(2)
      {
        padding-left: 10px;
        padding-right: 10px;
        color: #008000;
      }
    }
  }
}
#timeline-col-3
{

  background-color: white;
  min-height: 500px;
  border-left:solid 1px #ebebeb;
  border-radius: 0.5em;
#searchUser
{
  margin-top: 20px;
  background-color: honeydew;
}
  .user-content
  {

    padding-top: 39px;

  }
  table
  {
    tr
    {
      margin-top: 10px;
      border-bottom: solid #ebebeb 1px;
      td:first-child
      {
        padding-left: 20px;
      }
      td:nth-child(2)
      {
        width: 200%;
      }
    }
  }
  .user-picture
  {
    height: 50px;
    width: 50px;
    border: solid #E0E2E4 1px;

    img {
      height: 50px;
      width: 50px;
    }
  }
  .user-header
  {


    text-transform: none;
    text-decoration: none;
    list-style-type: none;
    li
    {
      display: inline;
    }
    li:first-child
    {
      font-size: 16px;
      font-weight: bold;
      color:steelblue;
    }
    li:nth-child(2)
    {
      //padding-left: 10px;
      //padding-right: 10px;
      color:green;
    }



  }
  .user-actions
  {


    text-transform: none;
    text-decoration: none;
    list-style-type: none;
    float: right;

    li
    {
      //display: inline;
    }
    li:first-child
    {

      /*font-size: 16px;
      font-weight: bold;*/
      color:steelblue;
    }
    li:nth-child(2)
    {
      padding-left: 10px;
      padding-right: 10px;
      color: #008000;
    }
  }




}
#couverture_container
{

  height: 420px;

  background-color: white;
  margin-bottom: 10px;

  img
  {
    height: 420px;
    width:1140px;
    position: absolute;
    z-index:2;
   /* max-width:100%;
    max-height:100%;*/
  }

  .buttons_profile {
    float: right;
    margin-top: 29.2%;
    width: 200px;

    #addBackgroundButton {
      z-index: 5;
      position: relative;
      float: right;
      border-radius: 0;

      // margin-top: 34.2%;
    }
    #addProfilePictureButton {
      z-index: 5;
      position: relative;
      float: right;
      border-radius: 0;
      margin-bottom: 2%;

    }
  }
}