<div id="couverture_container" ng-controller="profileBackgroundCtrl">
    <img ng-model="profileBackGroundPicture" ng-src="{{ profileBackGroundPicture }}" >
    <div class="btn-group-vertical buttons_profile" role="group">
        <button type="button" class="btn btn-success btn-sm" id="addProfilePictureButton" data-toggle="modal" data-target="#myModal" >
            Change My Profile Picture
        </button>
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" id="addBackgroundButton" data-target="#myModalBackground" >
            Change My Background Picture
        </button>
    </div>



    <!-- Modal -->
    <!-- <form name="form" class="form-login" ng-submit="uploadFiles()" role="form">
     <input type="file" file-model="myFile"  />
     <button type="submit" >button</button>
     </form>-->
    <div class="modal fade" id="myModalBackground" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">Add Background Profile Picture</h4>
                </div>
                <div class="modal-body">

                    <h3>Please update your Background Profile image</h3>
                    <form name="form" class="btn-group-vertical form-login" ng-submit="uploadFiles()" role="form">
                        <input class="btn btn-success" type="file" file-model-background="myFile" />
                        <button type="submit" class="btn btn-primary">upload me</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>






</div>
<div class="col-md-3"  id="timeline-col-1" ng-controller="profileOverviewCtrl">
    <div id="pictureProfile"><img ng-model="profilePicture" ng-src="{{ profilePicture }}" ></div>
    <h3> {{ displayname }}</h3>
    <h3> {{ firstname }} - {{ lastname }}</h3>
    <h4> @{{ nickname }} </h4>
    <a href="#">{{ 'GO_TO_PROFILE' | translate }} </a>
    <pre> {{ token }} </pre>
    <div> updated : {{ updated }}</div>


    <!-- Modal -->
   <!-- <form name="form" class="form-login" ng-submit="uploadFiles()" role="form">
    <input type="file" file-model="myFile"  />
    <button type="submit" >button</button>
    </form>-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Profile Picture</h4>
                </div>
                <div class="modal-body">

                    <h3>Please update your Profile image</h3>
                    <form name="form" class=" btn-group-vertical form-login" ng-submit="uploadFiles()" role="form">
                    <input class="btn" type="file" file-model="myFile" />
                    <button type="submit" class="btn btn-primary">upload me</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
               </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6" id="timeline-col-2" ng-controller="timelineCtrl">


    <div class="form-inline form-group gab-input" >
    <input name="gab" type="text" ng-model="gab" class="form-control" placeholder="Type a gab">
        <button class="btn btn-warning form-control" ng-click="addGab()" >{{ 'PUBLISH_GAB' | translate }}</button>
    </div>
    <!--<pre> {{ gabs | json }} </pre>-->
<div class="gabslist">

   <div class="gab-item" ng-repeat="gab in gabs | orderBy:'gab.postDate':reverse">
        <!--<div class="img-circle"><img src="/main/img/twitter-happy-2640049b-215351.jpg"></div>-->
       <table>
           <tr>
               <td>
                   <div class="user-picture"><img  ng-src="{{ gab.pictureProfile }}"></div>
               </td>
               <td>
                   <div class="form-group gab-content">
                       <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" ng-click="deleteGab($index, gab.id)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       </div>

                       <ul class="gab-header">
                           <li>{{ gab.displayName }}</li>
                           <li>@{{ username }}</li>
                           <li> - </li>
                           <li> le {{ gab.postDate | date:'dd-MM-yyyy HH:mm' }}</li>

                       </ul>

                       <p id="gab">{{ gab.content }}</p>

                      <ul class="gab-actions">
                          <li ng-if="gab.isLiked"> {{ gab.formattedLikers }} {{ 'LIKE_THIS' | translate }}</li>
                          <li><button ng-class="{'btn btn-info':gab.btnLike.state == 'Like','btn btn-danger':gab.btnLike.state == 'Unlike'}" ng-model="btnLike"  ng-click="likeOrUnlikeGab($index, gab.id)">{{gab.btnLike.state}}</button></li>

                      </ul>

                   </div>
               </td>
           </tr>
       </table>

    </div>
</div>

</div>
<div class="col-md-3" id="timeline-col-3" ng-controller="suggestionsCtrl">
    <h3> {{ 'FOLLOW_OR_SHARE' | translate }} </h3>
    <input type="text" ng-model="search" id="searchUser" placeholder="Follow a friend" ng-change="searchUser()" class="form-control">
   <!--<pre> {{ result | json }}</pre>-->
    <div ng-if="result.length == 0">
        <span> No result found </span>
    </div>
    <!--<pre> {{ result | json }}</pre>-->
    <div ng-repeat="user in result | filter:search">
        <table>
            <tr>
                <td>
                    <div class="user-picture"><img ng-model="user.pictureProfile" ng-src="{{user.pictureProfile}}"></div>
                </td>
                <td>
                    <div class="form-group user-content">
                        <ul class="user-header">
                            <li>{{ user.firstname }} {{ user.lastname }}</li>
                            <li>@{{ user.nickname }}</li>

                        </ul>

                        <ul class="user-actions">
                            <li><button ng-class="{'btn btn-info':user.btnFollow.state == 'Follow','btn btn-success':user.btnFollow.state == 'UnFollow'}" ng-model="btnFollow"  ng-click="followOrUnfollowUser($index, user.id)">{{user.btnFollow.state}}</button></li>
                        </ul>

                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>

