
<div class="col-md-3"  id="timeline-col-1" ng-controller="profileOverviewCtrl">
    <div id="pictureProfile"></div>
    <h3> {{ firstname }} - {{ lastname }}</h3>
    <h4> @{{ nickname }} </h4>
    <a href="#">{{ 'GO_TO_PROFILE' | translate }} </a>
    <pre> {{ token }} </pre>

</div>
<div class="col-md-6" id="timeline-col-2" ng-controller="timelineCtrl">


    <div class="form-inline form-group gab-input" >
    <input name="gab" type="text" ng-model="gab" class="form-control" placeholder="Type a gab">
        <button class="btn btn-success form-control" ng-click="addGab()" >{{ 'PUBLISH_GAB' | translate }}</button>
    </div>
    <!--<pre> {{ gabs | json }} </pre>-->
<div class="gabslist">
   <div class="gab-item" ng-repeat="gab in gabs | orderBy:'gab.postDate':reverse">
        <!--<div class="img-circle"><img src="/main/img/twitter-happy-2640049b-215351.jpg"></div>-->
       <table>
           <tr>
               <td>
                   <div class="user-picture"></div>
               </td>
               <td>
                   <div class="form-group gab-content">
                       <ul class="gab-header">
                           <li>{{ username }} </li>
                           <li> - </li>
                           <li> le {{ gab.postDate | date:'yyyy-MM-dd HH:mm Z' }}</li>

                       </ul>

                       <p id="gab">{{ gab.content }}</p>
                      <ul class="gab-actions">
                       <li><a href="">Like</a></li>
                       <li><a href="">Follow</a></li>

                   </ul>
                   </div>
               </td>
           </tr>
       </table>

    </div>
</div>

</div>
<div class="col-md-2" id="timeline-col-3" ng-controller="suggestionsCtrl">
    <button>{{ 'FIND_FRIEND' | translate }}</button>
</div>

