#timeline-col-1
{
  background-color: white;
  min-height: 25%;
  border-right: solid 1px #ebebeb;
  margin-right: 10px;
  border-radius:0.5em;
  text-align: center;
  padding: 10px;
  #pictureProfile {
    width: 150px;
    height: 150px;
    border: solid #ebebeb 1px;
    margin-left: 22%;
  }
  h3
  {

  }
  a
  {

  }
}

#timeline-col-2
{
  background-color: white;
  min-height: 500px;
  margin-right: 10px;
  padding-top:10px;
  border-radius:0.5em;
  input {
    width: 85%;
  }
}
#timeline-col-3
{

  background-color: white;
  min-height: 500px;
  border-left:solid 1px #ebebeb;
}